doctype html
html(lang='en')
	include base/head.pug
	body
		style
			include base/styles.css
		div.remark
		p To reset your password, please click on the following link:
		div
			a(href='http://test.smartitory.com/set-password/' + token) Reset password