.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons {
  width: 300px;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
